@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.info-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.info-name {
  font-size: 8rem;
}

.main-container {
  height: 100px;
  background-color: rgb(240, 240, 240);
}

.expand-down {
  cursor: pointer;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
}

.expand-down:hover {
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.137);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
}


